@{
    ViewBag.Title = "Bekräfta E-mail";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Tack för att du har bekräftat din E-mail.
        <br />
        @Html.ActionLink("Logga in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
