@{
    ViewBag.Title = "Glömt lösenord";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Ett återställnings-mail har skickats till din E-mail.
        
    </p>
</div>
	
