<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dsu3.azurewebsites.net</MSDeployServiceURL>
    <DeployIisAppPath>dsu3.azurewebsites.net</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>DSU3\$DSU3</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="dsu3Entities1" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Golf_3_MVC.Models.dsu3Entities1, Golf 3 MVC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Golf_3_MVC.Models.ApplicationDbContext, Golf 3 MVC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="dsu3Entities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Golf_3_MVC.Models.dsu3Entities, Golf 3 MVC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="dsu3ConnectionString" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=dsu3.database.windows.net;Initial Catalog=dsu3;Persist Security Info=True;User ID=dsu3sa;Password=Golfbana1234" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\dsu3ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=dsu3.database.windows.net;Initial Catalog=dsu3;Persist Security Info=True;User ID=dsu3sa;Password=Golfbana1234" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="dsu3Entities2" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=dsu3.database.windows.net;Initial Catalog=dsu3;Persist Security Info=True;User ID=dsu3sa;Password=Golfbana1234;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\dsu3Entities2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.bokningstid.csdl|res://*/Models.bokningstid.ssdl|res://*/Models.bokningstid.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dsu3.database.windows.net;initial catalog=dsu3;persist security info=True;user id=dsu3sa;password=Golfbana1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="dsu3Entities3" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Golf_3_MVC.Models.dsu3Entities3, Golf 3 MVC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="dsu3ConnectionString1" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=dsu3.database.windows.net;Initial Catalog=dsu3;Persist Security Info=True;User ID=dsu3sa;Password=Golfbana1234;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\dsu3ConnectionString1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=dsu3.database.windows.net;Initial Catalog=dsu3;Persist Security Info=True;User ID=dsu3sa;Password=Golfbana1234;MultipleActiveResultSets=True;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishProvider>AzureWebSite</PublishProvider>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)dsu3Entities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)dsu3Entities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)dsu3Entities3-Web.config Connection String" />
  </ItemGroup>
</Project>