@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Spärrad</h1>
    <h2 class="text-danger">Detta konto har blivit spärrat. Prova igen senare eller kontakta administratör.</h2>
</hgroup>
