@{
//Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Hållslaget GK</title>
    <style>
        body
        {
            background-color:#eee;
            margin-top: 5%;

        }
    </style>
</head>
<body>
    <div style="height:700px;width:900px;margin:0 auto">
        @Html.Raw(Model.Render())

        <div id="scheduler_here" class="dhx_cal_container" ...>
            <div class="dhx_cal_navline">
                ...
                <div class="dhx_cal_tab" name="timeline_tab" style="right:280px;"></div>
            </div>
            ...
        </div>

    </div>
</body>
</html>
