@model IEnumerable<Golf_3_MVC.Models.tavling>

@{
    ViewBag.Title = "Tävling";
}



<div class="row">
    <ul class="nav nav-pills nav-stacked">

        <li class="dropdown pill-tavling">

            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                Tävlingar <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                @if (User.IsInRole("Personal") || User.IsInRole("Admin"))
                {
                    <li>@Html.ActionLink("Alla tävlingar", "Index", "tavlings")</li>
                }

                <a href="~/Views/tavlings/Index.cshtml">~/Views/tavlings/Index.cshtml</a>
                <li><a href="~/Views/tavlings/Index.cshtml">~/Views/tavlings/Index.cshtml</a></li>
                <li><a>Tävling 2</a></li>
            </ul>
        </li>

    </ul>

    <div class="panel panel-default panel-tavling">
        <div class="panel-heading">Tävlingar</div>
        <div class="panel-body">

            @Html.Partial("_Aktuelltavling")

        </div>
    </div>

</div>