body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/*.logo{
	position: relative;
	margin-top: 0px;
	margin-left: 0%;
	margin-right: 0%
}*/




.logo { 
	position: absolute;
	background: url('../Content/img/logotyp1-1.png');
	background-size:100%;
	top: 8px;
	left: 3%;
	display: block;
	height: 3em;
	width: 3em;
	margin: 0;
	cursor:pointer;
}
.logo:hover { 
	cursor:pointer;
}

.navbar-header{
	margin-left: 0px;
}

.navbar-nav{
	margin-left: 10%;
}


			/* CAROUSEL */

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
	position: relative;
	height: 415px;
}
.fade-carousel .carousel-inner .item {
	height: 400px;
}
.fade-carousel .carousel-indicators > li {
	margin: 0 2px;
	background-color: #f39c12;
	border-color: #f39c12;
	opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
	position: absolute;
	top: 90%;
	left: 50%;
	z-index: 3;
	color: #fff;
	text-align: left;
	text-shadow: 1px 1px 0 rgba(0,0,0,.75);
	  -webkit-transform: translate3d(-50%,-50%,0);
		 -moz-transform: translate3d(-50%,-50%,0);
		  -ms-transform: translate3d(-50%,-50%,0);
		   -o-transform: translate3d(-50%,-50%,0);
			  transform: translate3d(-50%,-50%,0);
}

.fade-carousel .carousel-inner .item .hero {
	opacity: 0;
	-webkit-transition: 1s all ease-in-out .1s;
	   -moz-transition: 1s all ease-in-out .1s; 
		-ms-transition: 1s all ease-in-out .1s; 
		 -o-transition: 1s all ease-in-out .1s; 
			transition: 1s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
	opacity: 1;
	-webkit-transition: 1s all ease-in-out .1s;
	   -moz-transition: 1s all ease-in-out .1s; 
		-ms-transition: 1s all ease-in-out .1s; 
		 -o-transition: 1s all ease-in-out .1s; 
			transition: 1s all ease-in-out .1s;    
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 400px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.fade-carousel .slides .klubbenslide1 {
  background-size: 30%;
  background-position: center center;
  background-repeat: no-repeat;
}

	/* BILDER */

				 /* START */
.fade-carousel .slides .startslide1 {
  background-image: url(img/start/start1-1280.jpg); 
}
.fade-carousel .slides .startslide2 {
  background-image: url(img/start/start2-1280.jpg);
}
.fade-carousel .slides .startslide3 {
  background-image: url(img/start/start3-1280.jpg);
}

				 /* BANORNA */
.fade-carousel .slides .banornaslide1 {
  background-image: url(img/banorna/bana1-1280.jpg); 
}
.fade-carousel .slides .banornaslide2 {
  background-image: url(img/banorna/bana2-1280.jpg);
}
.fade-carousel .slides .banornaslide3 {
  background-image: url(img/banorna/bana3-1280.jpg);
}

				 /* KLUBBEN */
.fade-carousel .slides .klubbenslide1 {
  background-image: url(img/klubben/logotyp1.png);
}

				 /* MEDLEM */
.fade-carousel .slides .medlemslide1 {
  background-image: url(img/medlem/medlem1-1280.jpg);
  background-size: 100%;
  background-position:top;

}

				 /* KONTAKT */
.fade-carousel .slides .kontaktslide1 {
  background-image: url(img/kontakt/kontakt1-1920.jpg);
}

				 /* ERROR */
.fade-carousel .slides .errorslide1 {
  background-image: url(img/error1-1280.jpg);
}

			/*/ CAROUSEL */


.nav-pills{
	float:left;
	width: 20%;
	margin-left: 1.5%;
}

.panel{
	float:left;
	margin-left: 2%;
	width: 75%;
    min-height: 200px;
	height: auto;
}

.panel-default {
    display: none;
}

.dropdown-menu{
    text-transform:none;
}

.adminmedlemmarDiv{
    margin-top: 5%;
}



/*    FOOTER     */


.mapimg{
	height:70%;
	width: 70%;
}
.full {
    width: 100%;    
}

.footer {
	background: #f8f5f0;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #dfd7ca;
	border-top: 1px solid #dfd7ca;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h4 {
	border-bottom: 1px solid #BAC1C8;
	color: #98978b
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #98978b
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: inline-block;
}
.footer a {
	color: #78828D
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}
.newsletter-box {
	overflow: hidden;
}
.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 100px 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}
.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;	
}

/* SOCIAL BUTTONS */

/* footer social icons */

ul.social-network {
	list-style: none;
	display: inline;
	margin-left: 0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoMail:hover {
	background-color: rgba(29, 143, 101, 0.83);
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoInstagram:hover {
	background-color:#BD3518;
}


.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}


.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	background-color: #f8f5f0;
	border: 1px solid #dfd7ca;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}


/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

/********************************/
/*          Media Queries       */
/********************************/

@media screen and (min-width: 980px){
	.hero { width: 980px; }    
}

@media screen and (max-width: 640px){
	.hero h1 { font-size: 4em; }    
}