body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.logo{
    position: relative;
    margin-top: 0px;
    margin-left: 0%;
    margin-right: 0%;
}

.logo a{ 
    position: absolute;
    background: url('../Content/img/logotyp1-1.png');
    background-size:100%;
    top: 0%;
    left: 0%;
    display: block;
    height: 3em;
    width: 3em;
    margin: 0;
}

.navbar-brand{
    margin-left:10%;
}

.navbar-nav{

}


            /* CAROUSEL */

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 415px;
}
.fade-carousel .carousel-inner .item {
    height: 400px;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 90%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: left;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 1s all ease-in-out .1s;
       -moz-transition: 1s all ease-in-out .1s; 
        -ms-transition: 1s all ease-in-out .1s; 
         -o-transition: 1s all ease-in-out .1s; 
            transition: 1s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 1s all ease-in-out .1s;
       -moz-transition: 1s all ease-in-out .1s; 
        -ms-transition: 1s all ease-in-out .1s; 
         -o-transition: 1s all ease-in-out .1s; 
            transition: 1s all ease-in-out .1s;    
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 400px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.fade-carousel .slides .klubbenslide1 {
  background-size: 30%;
  background-position: center center;
  background-repeat: no-repeat;
}

    /* BILDER */

                 /* START */
.fade-carousel .slides .startslide1 {
  background-image: url(img/start/start1-1280.jpg); 
}
.fade-carousel .slides .startslide2 {
  background-image: url(img/start/start2-1280.jpg);
}
.fade-carousel .slides .startslide3 {
  background-image: url(img/start/start3-1280.jpg);
}

                 /* BANORNA */
.fade-carousel .slides .banornaslide1 {
  background-image: url(img/banorna/bana1-1280.jpg); 
}
.fade-carousel .slides .banornaslide2 {
  background-image: url(img/banorna/bana2-1280.jpg);
}
.fade-carousel .slides .banornaslide3 {
  background-image: url(img/banorna/bana3-1280.jpg);
}

                 /* KLUBBEN */
.fade-carousel .slides .klubbenslide1 {
  background-image: url(img/klubben/logotyp1.png);
}

                 /* MEDLEM */
.fade-carousel .slides .medlemslide1 {
  background-image: url(img/medlem/medlem1-1280.jpg);
}

                 /* KONTAKT */
.fade-carousel .slides .kontaktslide1 {
  background-image: url(img/kontakt/kontakt1-1920.jpg);
}

                 /* ERROR */
.fade-carousel .slides .errorslide1 {
  background-image: url(img/error1-1280.jpg);
}

            /*/ CAROUSEL */


.nav-pills{
    float:left;
    width: 20%;

    margin-left: 1.5%;
}

.panel{
    float:left;
    margin-left: 2%;
    width: 75%;
    height: 400px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/********************************/
/*          Media Queries       */
/********************************/

@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}

@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}