@model Golf_3_MVC.Models.starttid

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>starttid</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.starttid1 }) |
    @Html.ActionLink("Back to List", "Index")
</p>
