@model Golf_3_MVC.Models.tavling


<table class="table">
    <tr>
        <td>
            <b>Tävlingsnamn</b>
            @Model.tavlingsNamn

            AKTUELLTÄVLING


        </td>
    </tr>

</table>