@model Golf_3_MVC.Models.tavling


<p>ser du mig eller?</p>

@*<div class="pull-left" col-lg-6>
    Välj tävling: <br />
    @Html.DropDownList("Tavlingar", new SelectList(Model, "Id", "tavlingsNamn"))
</div>*@