@model IEnumerable<Golf_3_MVC.Models.tavling>

@{
    ViewBag.Title = "Tävling";
}

<div class="row">

    <ul class="nav nav-pills nav-stacked">

        <li class="dropdown pill-anmalan">

            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                Anmälan <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                @if (User.IsInRole("Personal") || User.IsInRole("Admin"))
                {
                    <li><a>Se anmälningar</a></li>
                }


                @foreach (var item in Model)
                {
                   <li class="litavling"><a>@Html.DisplayFor(modelItem => item.tavlingsNamn, "id")</a></li>
                }
            </ul>
        </li>
        <!--////////////////////////////////////////////////////-->
        @if (User.IsInRole("Personal") || User.IsInRole("Admin"))
        {
            <li class="pill-admintavling">

                <a href="#" aria-expanded="true">
                    Administrera tävlingar
                </a>

            </li>
        }
    </ul>

    <div class="panel panel-default panel-tavling">
        @*<div class="panel-heading">Administrera tävlingar</div>
        <div class="panel-body">

           @@Html.Partial("_admintavling")

            @foreach (var item in Model)
            {
                @Html.Partial("_aktuelltavling", item);
            }

        </div>*@
    </div>



</div>