@{
    ViewBag.Title = "Banorna";
}

<!-- CAROUSEL -->
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-1 banornaslide1"></div>
            <div class="hero">
                <h4>Bana 1</h4>

            </div>
        </div>
        <div class="item slides">
            <div class="slide-2 banornaslide2"></div>
            <div class="hero">
                <h4>Bana 2</h4>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-3 banornaslide3"></div>
            <div class="hero">
                <h4>Bana 3</h4>
            </div>
        </div>
    </div>
</div>
<!-- ../CAROUSEL -->

<div class="row">
    <ul class="nav nav-pills nav-stacked">
        <li class="pill-bana1 active"><a href="">Bana 1</a></li>
        <li class="pill-bana2"><a href="">Bana 2</a></li>
        <li class="pill-bana3"><a href="">Bana 3</a></li>
        @*<li class=""><a href="#">Disabled</a></li>
            <li class=""><a href="#">Disabled</a></li>*@
    </ul>

    <div class="panel panel-default panel-bana1">
        <div class="panel-heading">Bana 1</div>
        <div class="panel-body">

        </div>
    </div>

    @*<div class="panel panel-default panel-bana2">
        <div class="panel-heading">Banstatus</div>
        <div class="panel-body">

        </div>
    </div>*@
</div>
