<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web.webPages.razor>
    <pages>
      <namespaces>
        <add namespace="Postal" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from ="gk.halslaget@gmail.com">
        <!--<specifiedPickupDirectory pickupDirectoryLocation="c:\email"/>-->
        <network host="smtp.gmail.com"
              port="587"
              userName="gk.halslaget@gmail.com"
              password="beastmode1234"
              enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>